.wrapper {
  background-color: rgb(31, 34, 53);
}

.header__container {
  min-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header__container .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 46px;
     -moz-column-gap: 46px;
          column-gap: 46px;
  row-gap: 30px;
  margin-left: 600px;
  margin-top: 40px;
}
.header__container .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  text-align: center;
  list-style: none;
}
.header__container .menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Outfit;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  font-family: Outfit;
  letter-spacing: 3%;
  text-transform: capitalize;
  text-decoration: none;
}
.header__container .menu__link:hover {
  text-decoration: underline;
}
.header__container .header-block__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 50px;
  margin-top: 40px;
}
.header__container .header-block__button {
  width: 152px;
  height: 50px;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 4px;
  background: rgb(254, 70, 28);
  cursor: pointer;
}
.header__container .header-block__button:hover {
  background-color: #b9473a;
}
.header__container .a:hover {
  cursor: pointer;
}

.welcome__container {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 50px;
}
.welcome__container .welcome-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.welcome__container .partners-welcome-block__items {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding-top: 100px;
}
.welcome__container .body-welcome-block__image img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  width: 543px;
  height: 534px;
}
.welcome__container .content-welcome-block__title {
  width: 504px;
  height: 164px;
  padding-left: 165px;
  top: 100px;
  font-family: Outfit;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  text-align: left;
  text-transform: capitalize;
}
.welcome__container .colortext {
  color: rgb(255, 92, 0);
}
.welcome__container .content-welcome-block__text {
  width: 521px;
  height: 60px;
  padding-left: 165px;
  color: rgb(255, 255, 255);
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.welcome__container .form-welcome-block__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 355px;
  left: 150px;
  gap: 53px;
  padding-left: 165px;
  padding-top: 36px;
}
.welcome__container .form-welcome-block__button {
  width: 160px;
  height: 50px;
  left: 300px;
  top: 625px;
  border-radius: 4px;
  background: rgb(254, 70, 28);
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}
.welcome__container .form-welcome-block__button:hover {
  background-color: #b9473a;
}
.welcome__container .header-block__button {
  width: 160px;
  height: 50px;
  left: 300px;
  top: 625px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  background-color: rgb(31, 34, 53);
  cursor: pointer;
}
.welcome__container .header-block__button:hover {
  background-color: #202552;
}

.about__container {
  max-width: 1400px;
  margin: 0 auto;
  top: 50px;
}
.about__container .about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50px;
  position: relative;
  bottom: 375px;
}
.about__container .image-about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  width: 500px;
  height: 470px;
}
.about__container .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__container .content-about__body {
  margin-left: 100px;
}
.about__container .content-about__title {
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}
.about__container .content-about__text {
  width: 524px;
  height: 130px;
  color: rgb(255, 255, 255);
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.about__container .content-about__options {
  display: -ms-grid;
  display: grid;
  gap: 25px;
  -ms-grid-columns: 1fr 25px 1fr;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 55px;
}
.about__container .options-content-about__label {
  width: 300px;
  margin-bottom: 12px;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.about__container .content-about__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 355px;
  left: 150px;
  gap: 53px;
  padding-left: 165px;
  padding-top: 36px;
}
.about__container .about__button {
  width: 160px;
  height: 50px;
  left: 300px;
  top: 625px;
  border-radius: 4px;
  background: rgb(254, 70, 28);
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}
.about__container .about__button:hover {
  background-color: #b9473a;
}

.portfolio__container {
  max-width: 1400px;
  margin: 0 auto;
}
.portfolio__container .portfolio-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 500px;
  margin-top: 150px;
}
.portfolio__container .body-portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.portfolio__container .portfolio-body__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}
.portfolio__container .portfolio-content__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 465px;
}
.portfolio__container .portfolio__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 485px;
  height: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio__container .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  list-style: none;
}
.portfolio__container .menu__link {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 3%;
  text-align: left;
  text-decoration: none;
}
.portfolio__container .menu__link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(90, 116, 231);
}
.portfolio__container .item-tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1320px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
}
.portfolio__container .item-tabs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  margin-top: 50px;
}

.why__container {
  max-width: 1400px;
  margin: 0 auto;
}
.why__container .content-why-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 550px;
  margin-top: 150px;
}
.why__container .content-why-block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}
.why__container .why__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.why__container .why__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 307px;
  height: 360px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  background-color: rgb(36, 38, 59);
  border-radius: 8px;
}
.why__container .item-why__icon1,
.why__container .item-why__icon2,
.why__container .item-why__icon3,
.why__container .item-why__icon4 {
  width: 50px;
  height: 50px;
  padding-left: 25px;
  padding-top: 41px;
}
.why__container .item-why__title {
  width: 173px;
  height: 21px;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 30px;
  padding-top: 26px;
}
.why__container .item-why__text {
  width: 238px;
  height: 72px;
  color: rgb(255, 255, 255);
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 30px;
  padding-top: 27px;
}
.why__container .item-why__arrow {
  width: 45px;
  height: 45px;
  padding-left: 37px;
  padding-top: 27px;
}

.skill__container {
  max-width: 1400px;
  margin: 0 auto;
}
.skill__container .skill__body {
  padding-left: 350px;
  padding-top: 172px;
}
.skill__container .body-skill__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skill__container .skill-body__title {
  width: 300px;
  height: 44px;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: left;
}
.skill__container .content-skill__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
  padding-top: 47px;
  padding-bottom: 39px;
}
.skill__container .content-skill__link {
  width: 90px;
  height: 36px;
  border-radius: 4px;
}
.skill__container .skill__button {
  width: 90px;
  height: 36px;
  color: rgb(255, 255, 255);
  background: rgb(36, 38, 59);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}
.skill__container .skill__button:hover {
  background-color: rgb(242, 87, 30);
}
.skill__container .content-skill__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skill__container .content-skill__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 43px;
}

.testimonial__container {
  max-width: 1400px;
  margin: 0 auto;
}
.testimonial__container .content-testimonial-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 450px;
  margin-top: 150px;
  bottom: 100px;
}
.testimonial__container .content-testimonial-block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}
.testimonial__container .testimonial__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 49px;
  margin-right: 70px;
}
.testimonial__container .testimonial__item {
  width: 424px;
  height: 300px;
  margin-left: 50px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  background-color: rgb(36, 38, 59);
  border-radius: 8px;
}
.testimonial__container .item-testimonial__icon {
  width: 40px;
  height: 37.5px;
  padding-left: 287px;
  padding-top: 37px;
}
.testimonial__container .item-testimonial__title {
  width: 159px;
  height: 22px;
  padding-left: 42px;
  top: 30px;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}
.testimonial__container .item-testimonial__sub-title {
  width: 85px;
  height: 24px;
  padding-left: 42px;
  padding-top: 15px;
  color: rgb(255, 255, 255);
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: underline;
}
.testimonial__container .item-testimonial__text {
  width: 337px;
  height: 80px;
  padding-left: 42px;
  padding-top: 15px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.testimonial__container .item-testimonial__photo {
  width: 70px;
  height: 70px;
  padding-top: 15px;
  border-radius: 35px;
}

.blog__container {
  max-width: 1400px;
  margin: 0 auto;
}
.blog__container .content-blog-block__body {
  padding-left: 550px;
  padding-top: 172px;
}
.blog__container .content-blog-block__title {
  width: 300px;
  height: 44px;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: left;
}
.blog__container .blog__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 49px;
  margin-left: 50px;
  gap: 24px;
}
.blog__container .blog__item {
  width: 424px;
  height: 315px;
  padding-bottom: 200px;
}
.blog__container .item-blog__views {
  width: 265px;
  height: 17px;
  padding-top: 20px;
}
.blog__container .item-blog__title {
  width: 345px;
  height: 29px;
  padding-top: 20px;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.blog__container .item-blog__text {
  width: 340px;
  height: 48px;
  padding-top: 15px;
  color: rgb(255, 255, 255);
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.newsletter__container {
  max-width: 1400px;
  margin: 0 auto;
}
.newsletter__container .newsletter-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1320px;
  height: 450px;
  margin-left: 50px;
  background: rgb(36, 38, 59);
}
.newsletter__container .body-newsletter__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 479px;
  height: 131px;
  margin-left: 50px;
  margin-top: 130px;
}
.newsletter__container .newsletter-body__title {
  width: 479px;
  height: 59px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 55px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0%;
  text-align: left;
}
.newsletter__container .newsletter-body__sub-title {
  width: 433px;
  height: 21px;
  color: rgb(255, 255, 255);
  font-family: Public Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}
.newsletter__container .newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 500px;
  height: 61px;
  padding-left: 10px;
  padding-top: 190px;
}
.newsletter__container .form-newsletter__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.newsletter__container .form-newsletter__input {
  width: 550px;
  height: 60px;
  border-radius: 70px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  color: rgb(157, 161, 180);
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  padding-left: 50px;
}
.newsletter__container .form-newsletter__button {
  width: 150px;
  height: 60px;
  border-radius: 70px;
  background: rgb(254, 70, 28);
  cursor: pointer;
  font-size: large;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  padding-left: 37px;
}
.newsletter__container .form-newsletter__button:hover {
  background-color: rgb(242, 112, 38);
}

.contact__container {
  max-width: 1400px;
  margin: 0 auto;
}
.contact__container .contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}
.contact__container .body-contact__title {
  width: 274px;
  height: 43px;
  margin-left: 520px;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
}
.contact__container .body-contact-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
}
.contact__container .contact__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 70px;
  margin-top: 50px;
}
.contact__container .contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 368px;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background: rgb(36, 38, 59);
}
.contact__container .body-contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 700px;
  top: 250px;
}
.contact__container .body-contact-content__title1 {
  width: 174px;
  height: 26px;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}
/*# sourceMappingURL=style.css.map */