@use "variables";
.footer__container{
    max-width: 1400px;
    margin: 0 auto;


    .footer__designed{
        font-weight: 700;
        font-size: 12px;
        line-height: 16px; 
        text-align: center;
        color:variables.$text-color;
        margin-top: 155px;
    }




}