.skill__container{
    max-width: 1400px;
    margin: 0 auto;

    .skill__body{
        
        padding-left: 50px;
        padding-top: 172px;

    }

    .body-skill__content{
        display: flex;
        align-items: center;
        
    }

    .skill-body__title{
        width: 300px;
        height: 44px;
        color: rgb(255, 255, 255);
        font-family: Outfit;
        font-size: 36px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0%;
        text-align: left;
        
    }

    .content-skill__links{
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding-top: 47px;
        padding-bottom: 39px;
    }

    .content-skill__link{
        width: 90px;
        height: 36px;
        border-radius: 4px;
                       
    }

    .skill__button{
        width: 90px;
        height: 36px;
                    
        color: rgb(255, 255, 255);
        background: rgb(36, 38, 59);
        font-family: Outfit;
        font-size: 16px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: center;
        text-transform: capitalize;
        cursor: pointer;
    }

    .skill__button:hover{
        background-color: rgb(242, 112, 38);
    }

    .content-skill__items{
        display: flex;
        flex-direction: column;
        width: 450px;
        
    }

    .content-skill__item{
        display: flex;
        flex-direction: column;
        padding-top: 43px;       
    }

    .item-skill__image img{
        width: 600px;
        height: 50px;
    }

    .content-skill-block__image{
        display: flex;
        max-width: 450px;        
        margin-left: 700px;
        margin-top: -380px;
    }

    .content-skill-block__image img{
        display: flex;
        max-width: 500px;        
       
    }

    @media (min-width: 320px) and (max-width: 480px) {
        .skill__container{
            max-width: 450px;
            margin: 0 auto;}
        
        .skill__body{
            display: flex; 
            flex-direction: column;               
            padding-left: 30px;
        }

        .content-skill__links{
            display: flex;
            flex-direction: row;
            gap: 10px;            
            padding-left: -250px; 
        }
    
        .content-skill__items{
            display: flex;
            flex-direction: column;
        }
    
        .item-skill__image img{
            width: 400px;
            height: 30px;
        }
        .content-skill-block__image{
            display: flex;
            flex-direction: column;
            width: 400px;        
            margin-left: 10px;
        }
    
        .content-skill-block__image img{
            display: flex;
            flex-direction: column;
            margin-top: 450px;        
        }
    }

    @media (min-width: 481px) and (max-width: 768px) {
        .skill__container{
            max-width: 700px;
            margin: 0 auto;}
        
        .skill__body{
            display: flex; 
            flex-direction: column;               
            padding-left: 180px;
        }

        .content-skill__links{
            display: flex;
            flex-direction: row;
            gap: 10px;            
            padding-left: -100px; 
        }
    
        .item-skill__image img{
            width: 400px;
            height: 30px;
        }
        .content-skill-block__image{
            display: flex;
            flex-direction: column;
            width: 600px;        
            margin-left: -20px;
        }
    
        .content-skill-block__image img{
            display: flex;
            flex-direction: column;
            margin-top: 450px;        
        }
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        .skill__container{
            max-width: 1000px;
            margin: 0 auto;}
        
        .skill__body{
            display: flex; 
            flex-direction: column;               
            padding-left: 180px;
        }

        .content-skill__links{
            display: flex;
            flex-direction: row;
            gap: 10px;            
            padding-left: -100px; 
        }
    
        .item-skill__image img{
            width: 600px;
            height: 50px;
        }

        .content-skill-block__image{
            display: flex;
            flex-direction: column;
            width: 650px; 
            margin-left: 30px;
        }
     
    
        .content-skill-block__image img{
            display: flex;
            flex-direction: column;
            margin-top: 400px;
            width: 800px;
            height: 600px;
            
        }
    }

 
}