@use "variables";
.welcome__container{
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 50px;


    .welcome-block__body{
        display: flex;
    }

    .partners-welcome-block__items{ 
        flex-direction: column;
        gap:5px;
        padding-top: 100px;        
    }

    .body-welcome-block__image img{       
        display: flex;
        padding-top: 50px;       
        width: 543px;
        height: 534px;
     
    }
  

    .content-welcome-block__title{      
        width: 504px;
        height: 164px;
        padding-left: 165px; 
        top: 100px;
        font-family: Outfit;
        font-size: 64px;
        font-weight: 600;
        line-height: 72px;
        text-align: left;
        text-transform: capitalize;

    }

    .colortext{
        color:variables.$primary-color;
    }

    .content-welcome-block__text{       
        width: 521px;
        height: 60px;
        padding-left: 165px;                
        color:variables.$text-color;
        font-family: Public Sans;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
    }

    .form-welcome-block__link{
    
        display: flex;
        bottom: 355px;
        left: 150px;
        gap: 53px;
        padding-left: 165px;
        padding-top: 36px;
    }


    .form-welcome-block__button{
        width: 160px;
        height: 50px;
        left: 300px;
        top: 625px;
        border-radius: 4px;
        background:variables.$primary-color;
        color:variables.$text-color;
        font-family: Outfit;
        font-size: 16px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: center;
        text-transform: capitalize;
        cursor: pointer;
    }

    .form-welcome-block__button:hover{
        background-color:variables.$additional-color;
    }

    .header-block__button{
        width: 160px;
        height: 50px;
        left: 300px;
        top: 625px;
        border-radius: 4px;
        color:variables.$text-color;
        font-family: Outfit;
        font-size: 16px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: center;
        text-transform: capitalize;
        background-color:variables.$secondary-color;
        cursor: pointer;
    }

    .header-block__button:hover{
        background-color:variables.$style-color;
    }

    
    @media (min-width: 320px) and (max-width: 480px) {

        .welcome__container{
            display: flex;
            flex-direction: column;
            max-width: 400px;
        }

        .welcome-block__body{
            display: flex;
            flex-direction: column;
            max-width: 400px;
            padding-left: 10px;
        }

        .partners-welcome-block__items{
            display: flex;
            flex-direction: column;
            max-width: 350px;
           
        }

        .body-welcome-block__image img{
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            width: 380px;
            height: 350px;
        }

        .body-welcome-block__content,
        .content-welcome-block__body{
            display: flex;
            flex-direction: column;
            padding-left: 10px;
        }
        
        .content-welcome-block__title{
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            padding-bottom: 70px;
            width: 400px;

        }

        .content-welcome-block__text{
            display: flex;
            flex-direction: column;
            width: 400px;
            padding-left: 10px;
        }

        .form-welcome-block__link{
            display: flex;
            flex-direction: column;
            padding-left: 120px;
        }
    }

    @media (min-width: 481px) and (max-width: 768px) {
        .welcome__container{
            display: flex;
            flex-direction: column;
            max-width: 750px;
        }
                  
       
        .body-welcome-block__content,
        .content-welcome-block__body{
            display: flex;
            flex-direction: column;
        }
           
        
        .body-welcome-block__image img{       
            display: flex;                     
            margin-left: -175px;
            width: 250px;
            height: 250px;
            padding-top: 160px;
        }
          
        
        .content-welcome-block__title{  
            display: flex; 
            flex-direction: column;
            padding-left: 20px;
            padding-top: 50px;                 
        }
        
                
        .content-welcome-block__text{ 
            display: flex; 
            flex-direction: column;
            margin-left: 20px;     
            padding-top: 80px;
            padding-left: 10px;
                                            
        }
        
        .form-welcome-block__link{            
            display: flex;
            bottom: 355px;
            left: 150px;
            gap: 53px;
            padding-left: 20px;
            padding-top: 36px;
        }
        
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        .welcome__container{
            display: flex;
            flex-direction: column;
            max-width: 1000px;
        }
                 
        
        .body-welcome-block__image img{       
            display: flex;                     
            margin-left: -75px;
            width: 400px;
            height: 400px;
            padding-top: 100px;
        }
          
        
        .content-welcome-block__title{  
            display: flex; 
            flex-direction: column;
            padding-left: 40px;
            padding-top: 50px;                 
        }
        
                
        .content-welcome-block__text{ 
            display: flex; 
            flex-direction: column;
            margin-left: 20px;  
            padding-top: 80px;
            padding-left: 10px;
                                            
        }

    }

}

