.about__container {
  max-width: 1400px;
  margin: 0 auto;
  top: 50px;
}
.about__container .about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50px;
  position: relative;
  bottom: 375px;
}
.about__container .image-about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  width: 500px;
  height: 470px;
}
.about__container .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__container .content-about__body {
  margin-left: 100px;
}
.about__container .content-about__title {
  color: white;
  font-family: Outfit;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}
.about__container .content-about__text {
  width: 524px;
  height: 130px;
  color: white;
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.about__container .content-about__options {
  display: -ms-grid;
  display: grid;
  gap: 25px;
  -ms-grid-columns: 1fr 25px 1fr;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 55px;
}
.about__container .options-content-about__label {
  width: 300px;
  margin-bottom: 12px;
  color: white;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
}
.about__container .content-about__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 355px;
  left: 150px;
  gap: 53px;
  padding-left: 165px;
  padding-top: 36px;
}
.about__container .about__button {
  width: 160px;
  height: 50px;
  left: 300px;
  top: 625px;
  border-radius: 4px;
  background: rgb(254, 70, 28);
  color: white;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}
.about__container .about__button:hover {
  background-color: rgb(242, 112, 38);
}
@media (min-width: 320px) and (max-width: 480px) {
  .about__container .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 450px;
  }
  .about__container .about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__container .image-about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 35px;
    width: 400px;
    height: 350px;
  }
  .about__container .content-about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 20px;
  }
  .about__container .content-about__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 400px;
    height: 130px;
  }
  .about__container .content-about__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .about__container .content-about__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 100px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .about__container .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 750px;
  }
  .about__container .about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__container .image-about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 60px;
    width: 550px;
    height: 500px;
  }
  .about__container .content-about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 50px;
  }
  .about__container .content-about__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 650px;
    height: 130px;
  }
  .about__container .content-about__options {
    display: -ms-grid;
    display: grid;
    gap: 15px;
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 55px;
  }
  .about__container .content-about__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 180px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .about__container .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1000px;
  }
  .about__container .about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__container .image-about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 180px;
    width: 600px;
    height: 500px;
  }
  .about__container .content-about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 150px;
  }
  .about__container .content-about__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 720px;
    height: 130px;
  }
  .about__container .content-about__options {
    display: -ms-grid;
    display: grid;
    gap: 15px;
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 55px;
  }
  .about__container .content-about__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 220px;
  }
}